default:
#    user: root
#    ssh_key: ~/.ssh/id_rsa
#    options: '-o ProxyCommand="ssh -W %h:%p -q -l %u example.com"'

namespaces:
  - name: private
    clients:
      - name: private
        hosts_path: ~/ansible/hosts.yaml
    autodetect_clients:
      - hosts_filename: hosts.yaml
        inventories_path: ~/ansible_grouped/inventories/
